.App {
  text-align: center;
}

.pulse {
  animation: pulse infinite 7s linear;
}
/* keeps text on top of animations */
p {z-index: 2;}

.spin {
  animation: spin infinite 10s linear;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


.App-header {
  background-image: radial-gradient(gold, firebrick, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes pulse {
  50% {
    transform: scale(1.4);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
