.App {
  text-align: center;
}

.pulse {
  animation: pulse infinite 4s linear;
}
/* keeps text on top of animations */
p {z-index: 2;}

.spin {
  animation: spin infinite 10s linear;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


.App-header {
  background-image: radial-gradient(#4ea128, #3f9cf7, #12175a);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

ul {
  list-style: none;
  margin: 0;
}

section {
  background-image: linear-gradient(to left, #4ea128, #3f9cf7, #fbebc1, #3f9cf7, #4ea128);
  padding: 2rem 0 2rem 0;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
