.App {
  text-align: center;
}

.pulse {
  animation: pulse infinite 4s linear;
}
/* keeps text on top of animations */
p {z-index: 2;}

.spin {
  animation: spin infinite 10s linear;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}


/* large area styling */
.App-header {
  background-image: radial-gradient(  black, #12175a, #3f9cf7);
  min-height: 20vh;
  padding: 2px 10px 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
FormControl { color: white; }

.App-body {
  padding: 2rem 0 2rem 0;
  background-image: linear-gradient(to left, #4ea128, #3f9cf7, #4ea128);
  width: 100vw;
  flex-grow: 1; 
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categorical {
  margin: 0.25rem;  
  @media only screen and (max-width: 400px) {
    background-color: lightblue;
  }
  @media only screen and (max-width: 600px) {
    max-width: 30vw;
    background-color: forestgreen;
  }
  @media only screen and (max-width: 900px) {
    max-width: 24vw;
    background-color: lime;
  }

}

.Spring { background: url(./img/paper_Spring.png), wheat ; }
.Summer { background: url(./img/paper_Summer.png), wheat ; }
.Fall { background: url(./img/paper_Fall.png), wheat ; }
.Winter { background: url(./img/paper_Winter.png), wheat ; }
.Beach { background: url(./img/paper_Beach.png), wheat ; }
.Mines { background: url(./img/paper_Mines.png), wheat ; }
.Desert { background: url(./img/paper_Desert.png), wheat ; }
.Anytime { background: url(./img/paper_Anytime.png), wheat ; }

.itemm-card-back {
  background-image: linear-gradient(to bottom, rgba(245,222,179,0.15),rgba(245,222,179,0.8), rgba(245,222,179,1));
}
.itemm-card-padding { padding: 3px 7px 7px 7px; }
.itemm-border-1 { border: 2px sienna solid; border-radius: 3px; }
.itemm-border-2 { border: 3px chocolate solid; border-radius: 4px; }
.itemm-border-3 { border: 5px sandybrown solid; border-radius: 8px; }
.itemm-border-4 { border: 2px brown solid; border-radius: 8px; }


.item-border {
  border: white solid 2px;
  background-image: radial-gradient(wheat, tan);
  padding: 2px;
  height: 48px;
  width: 48px;
}

.lotta-text { max-width: 40vw; color: navy; }

/* layout utilities */

.rowed {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.rowed * {
  margin: 0.15em;
}
.coled {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.coled * {
  margin: 0.0em;
  padding: 0.15em;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
