body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.ikon {
	width: 48px;
	height: 48px; 
}

/* special MUIDataTable plugin overrides 

/* selecting the cell with the item name 
.MuiTableCell-body-144:nth-child(2)::before {
	content: 'url(./img/';
}
.MuiTableCell-body-144:nth-child(2)::after {
	content: '.png)';
}
*/
